{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Home{% endblock %}
{% block page_content %}
    Hello,
    {% if current_user.is_authenticated %}
        {{ current_user.username }}
    {% else %}
        Stranger
    {% endif %}
    {% include 'main/_posts.html' %}
    <div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
    </div>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
{% endblock %}