{% extends "base.html" %}

{% block title %}Simple and Naive - Confirm{% endblock %}

{% block content %}
<div width="100%" style="background:#EAEAEA;">
    <br>
    <br>
    <div style="margin:20 auto;padding:20;width:50%;background:#FFFFFF;">
        <h2 style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #3e4751;font-size: 16px;line-height: 24px;font-family: Ubuntu,sans-serif;"><strong>Dear {{ user.username }},</strong></h2>
        <p style="Margin-top: 16px;Margin-bottom: 0;">Welecome to S& N!</p>
        <p style="Margin-top: 16px;Margin-bottom: 0;">Your password has been reset:</p>
        <h1>{{ password }}</h1>
        <p style="Margin-top: 16px;Margin-bottom: 0;">Please change your password as soon as possible.</p>
        <br>
        <p style="Margin-top: 16px;Margin-bottom: 0;">Note: replies to this email address are not monitored.</p>

        <br>
        <br>
        <div style="Margin-left: 20px;Margin-right: 20px;Margin-bottom: 24px;">
            <p style="Margin-top: 0;Margin-bottom: 0;">Sincerely,<br>
            The S&N Team</p>
        </div>


    </div>
    <br>
    <br>
</div>
{% endblock %}
